# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\niek\Documents\Avans\Leerjaar 3\Softwareontwerp & Architectuur 3\eindopdracht\EindopdrachtSoa3RickNiek\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
